@using Microsoft.AspNetCore.Identity
@using FitnessTracker.Data
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<FitnessTrackerUser> UserManager;
<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <a href="identity/account/manage">Hello, @FullName!</a>
            <form method="post" action="identity/account/logout">
                <button type="submit" class="btn btn-link">Log out</button>
            </form>
        </Authorized>
        <NotAuthorized>
            <a href="identity/account/register">Register</a>
            <a href="identity/account/login">Log in</a>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code {

    private string FullName { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        if (authState.User.Identity is {IsAuthenticated: true })
        {
            var user = await UserManager.FindByNameAsync(authState.User.Identity?.Name);
            FullName = $"{user.FirstName} {user.LastName}";
        }
    }

}
