@using FitnessTracker.Data
@using System.Text
@inject NavigationManager NavigationManager

<form @onsubmit="HandleSearch">
    <div class="search-bar-wrapper">
        <span class="type-search-bar">
            <WorkoutTypesSelect @bind-WorkoutTypes="_workoutTypes" CanAddNewTypes="false"/>
        </span>
        <span class="title-search-bar">
            <input @bind="_searchQuery" placeholder="Search for plan title" class="form-control"/>
        </span>
        <span>
            <button type="submit" class="btn btn-primary">
                <i class="bi bi-search"></i>
            </button>
        </span>
    </div>
</form>

@code {

    private List<WorkoutType> _workoutTypes = new();

    private string _searchQuery = string.Empty;

    private void HandleSearch()
    {
        if (!_searchQuery.Any() && !_workoutTypes.Any())
            return;

        var parameters = new StringBuilder();
        if (_searchQuery.Any())
            parameters.Append("query=").Append(Uri.EscapeDataString(_searchQuery));

        foreach (var type in _workoutTypes)
        {
            if (parameters.Length > 0)
                parameters.Append('&');
            parameters.Append("type=").Append(Uri.EscapeDataString(type.Name));
        }

        NavigationManager.NavigateTo($"search?{parameters}");
    }

}
